/*******************/
/* Template styles */

* {
	margin: 0;
	padding: 0;
}
body {
	text-align: center;
}

p,
h3,
h4,
h5 {
	margin: 1em 0;
}
h3 {
	margin-top: 0;
}

blockquote {
	margin: 1em 40px;
}

ol,
ul,
dir,
menu,
dd {
	margin: 1em 0 1em 40px;
}

ol ul,
ul ol,
ul ul,
ol ol {
	margin-top: 0;
	margin-bottom: 0;
}

.hidden {display: none;}

#t-container {
	width: 760px;
	margin: 0 auto;
	text-align: left;
}

#t-header h1,
#t-header h2 {
	display: none;
}

#t-center {
	position: relative;
	_height: 1%;
}

#t-links {
	position: absolute;
	left: 0;
	top: 0;
	width: 180px;
}

#t-content {
	margin: 0 0 0 180px;
	min-height: 300px;
	_height: 300px;
}

#t-links ul {
	list-style: none;
}

#t-footer {
	text-align: center;
}

/***********************/
/* Default form styles */

.c-error-message {
	clear: both;
	border: 1px solid #ff0000;
	background-color: #ffffff;
	padding: 10px;
	margin: 1em 0;
}

.c-error-message p,
.c-error-message li {
	color: #ff0000;
}

.c-form {
	clear: both;
}
table.c-form {
	border-collapse: collapse;
}
table.c-form td {
	padding: 2px 0;
	vertical-align: top;
}
.c-form label {
	margin-right: 1em;
}
.c-input-text {
	width: 250px;
}
.c-input-number {
	width: 40px;
}
.c-input-date {
	width: 80px;
}
.c-form small {
	display: block;
}

.c-error-list {
	margin: 0 0 10px 30px;
}

ul.c-buttons {
	width: 350px;
	margin-top: 10px;
	list-style: none;
	text-align: right;
}
ul.c-buttons li {
	display: inline;
	padding: 0 0 0 5px;
}

/*****************/
/* Global styles */
.c-info p {
	margin: 0;
}

/**************************/
/* Page navigation styles */

.c-page-navigation {
	text-align: center;
	margin: 0 auto 10px auto;
}

.c-page-navigation .c-page-up {
	text-align: left;
}

.c-page-navigation .c-page-up a {
	padding-right: 20px;
}

.c-page-navigation .c-page-sequence {
	padding: 10px 0;
	list-style-type: none;
	text-align: right;
}

.c-page-navigation .c-page-previous,
.c-page-navigation .c-page-next {
	display: inline;
}

.c-page-navigation .c-page-previous a,
.c-page-navigation .c-page-next a {
	text-decoration: none;
}

.c-page-navigation .c-page-current {
	float: left;
}

.c-page-navigation .c-page-up .c-separator {
	/***display: none;****/
}


/********************/
/* Our story styles */

#c-story-container .c-photo {
	float: right;
	padding: 0 0 10px 10px;
}

#c-story-container .c-odd,
#c-story-container .c-even {
	clear: right;
}

/*************************/
/* Wedding events styles */

#c-events-container h5 {
	margin: 0;
}

#c-events-container p {
	margin-top: 0;
}

/************************/
/* Wedding party styles */

#c-party-container .c-photo {
	float: left;
	padding: 0 10px 10px 0;
}

#c-party-container .c-odd,
#c-party-container .c-even {
	clear: left;
}

/********************/
/* Guestbook styles */

#c-guestbook-container .c-text {
	margin: 0;
}

#c-guestbook-container .c-text p {
	margin-top: 0;
}

#c-guestbook-sign-link {
	margin: 1em 0;
}

/***************/
/* RSVP styles */

#c-rsvp-attendance {
	margin: 1em 0;
}

#c-rsvp-attend {
	list-style: none;
}

#c-rsvp-guests td {
	padding-right: 1em;
}

.c-rsvp-guest label {
	display: block;
}

.c-rsvp-guest .c-input-text {
	width: 110px;
}

.c-rsvp-guest .c-select {
	width: 150px;
}

/******************/
/* Gallery styles */

#c-galleries-container ul,
#c-photo-list-container ul {
	list-style: none;
}

#c-galleries-container .c-photo {
	float: left;
	width: 210px;
	padding: 0 10px 10px 0;
	text-align: center;
}

#c-galleries-container .c-odd,
#c-galleries-container .c-even {
	position: relative;
	clear: left;
}

/*#c-galleries-container .c-subtitle {
	position: absolute;
	top: 0;
	left: 210px;
}*/

#c-galleries-container .c-text {
	padding: 30px 0 0 0;
}

#c-photo-list-container .c-subtitle{
	display: none;
}
#c-photo-list-container .c-text {
	display: none;

}

#c-photo-list-container .c-page-navigation {
	text-align: center;
	margin: 10px auto;
}

#c-photo-list-container .c-page-previous,
#c-photo-list-container .c-page-next {
	display: none;
}

#c-photo-list-container .c-page-list li {
	display: inline;
}

#c-photo-list li {
	float: left;
	width: 210px;
	height: 210px;
	margin: 0;
	padding: 10px;
}

/*** Start photo-centering hijinx ***/

/* These rules are for internet explorer */
#c-photo-list .c-photo {
	overflow: hidden;
	position: relative;
	width: 210px;
	height: 210px;
}

#c-photo-list .c-photo a {
	display: block;
	position: absolute;
	width: auto;
	height: auto;
	top: 50%;
	left: 50%;
}

#c-photo-list img {
	display: block;
	position: relative;
	top: -50%;
	left: -50%;
}

/* These are for firefox/standards compliant browsers */
#c-photo-list>li .c-photo {
	display: table;
}

#c-photo-list>li .c-photo a {
	display: table-cell;
	position: static;
	vertical-align: middle;
}

#c-photo-list>li img {
	position: static;
	margin: 0 auto;
}

/*** End photo-centering hijinx ***/

#c-photo-container .c-photo-frame {
	clear: both;
}

#c-photo-container .c-subtitle {
	display: none;
}

#c-photo-container .c-even,
#c-photo-container .c-odd {
	text-align: center;
	margin: 0 auto;
}

#c-photo-container .c-photo,
#c-photo-container .c-text {
	text-align: center;
}

/*****************/
/* Custom Styles */
#c-custom-container .c-photo {
	float: right;
	padding: 0 0 10px 10px;
}

#c-custom-container .c-odd,
#c-custom-container .c-even {
	clear: right;
}

/*****************/
/* Events Styles */
#c-events-container .c-photo {
	float: right;
	padding: 0 0 10px 10px;
}

#c-events-container .c-odd,
#c-events-container .c-even {
	clear: right;
}

/*****************/
/* Accommodations Styles */
#c-accommodations-container .c-photo {
	float: right;
	padding: 0 0 10px 10px;
}

#c-accommodations-container .c-odd,
#c-accommodations-container .c-even {
	clear: right;
}

/*****************/
/* Attractions Styles */
#c-attractions-container .c-photo {
	float: right;
	padding: 0 0 10px 10px;
}

#c-attractions-container .c-odd,
#c-attractions-container .c-even {
	clear: right;
}

/****************/
/* Login styles */

#c-login-unregistered {
	clear: both;
}


#c-register-form,
#c-private-request {
	margin-top: 50px;
}

/****************/
/* Music styles */
#c-player-body {
	background-image: none;
	margin: 10px;
}

#c-music-container #c-music-playlist .c-subtitle {
	font-weight: bold;
}

#c-music-container #c-music-playlist .c-link {
	float: right;
	margin-right: 10px;
}

#c-music-container #c-music-playlist .c-odd,
#c-music-container #c-music-playlist .c-even {
	border-bottom: 1px dotted;
	margin: 0;
	padding: 10px 10px 10px 5px;
}

#c-music-container #c-music-suggestions h4 {
	margin-top: 2em;
}

#c-music-container #c-music-suggestions .c-odd {
	border-bottom: 1px dotted;
	margin: 0;
	padding: 10px 0 10px 0;
}

#c-music-container #c-music-suggestions .c-even {
	border-bottom: 1px dotted;
	margin: 0;
	padding: 10px 0 10px 0;
}

#c-music-container #c-music-suggestions .c-subtitle {
	font-weight: bold;
}

#c-music-container #c-music-suggestions .c-info p {
	line-height: 1.3em;
}

#c-music-container #c-music-suggestions .c-info .c-odd,
#c-music-container #c-music-suggestions .c-info .c-even {
	border: none;
	padding: 0;
	margin: 15px 10px 0px 10px;
}

#c-music-container #c-music-suggestions .c-link {
	display: block;
	margin-top: 10px;
}

#c-music-container a {
	display: block;
	margin-top: .5em;
}

/****************/
/* Blog styles  */
.c-blog-container .c-intro {
	margin-bottom: 2em;
}

.c-blog-container h3,
.c-blog-container h4 {
	margin-bottom: .25em;
}

.c-blog-container .c-continue {
	float: right;
}

.c-blog-container .c-continue {
    font-size: .9em;
}

.c-blog-container .c-comments {
	float: left;
	font-size: .9em;
}

.c-blog-container .c-byline {
	margin: .25em 0 .5em 0;
}

.c-blog-comment-container .c-byline {
    margin: .25em 0 .5em 0;
}

.c-blog-container .c-odd,
.c-blog-container .c-even {
	margin: 1em 0;
    border-bottom: 1px dotted;
    padding-bottom: .5em;
}

.c-blog-container p {
	margin-bottom: .5em;
}

.c-blog-comment-container {
	margin-top: 2em;
}

.c-blog-comment-container .c-odd,
.c-blog-comment-container .c-even {
	border-bottom: 1px dotted;
}

.c-blog-container .c-feed-links {
	text-align: right;
	font-size: .9em;
}
.c-blog-container .c-feed-links span {
	background: url(/main/images/icon/feed-icon-16x16.gif) no-repeat left center;
	padding: 5px 0 5px 20px;
}

.c-blog-container #c-blog-comment-heading {
	margin-top: 2em;
}

/* This overrides a commonly set style in individual design stylesheets
 * that puts margin on the next button to line it up on that page. This doesn't
 * apply on the blog page, so here's a reset. */
.c-blog-container .c-page-next {
	margin: 0;
}

/***************/
/* Style fixes */

/* Force alternating rows to always enclose their floated elements */
/* Hide from IE5/Mac \*/
* html .c-even,
* html .c-odd,
* html #c-photo-list {
	height: 1%;
}
/* End hide from IE5/Mac */
#t-content:after,
.c-even:after,
.c-odd:after,
#c-photo-list:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
